* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;

}

.site {
    width: 100%;
    height: 100%;
    background-color: pink;
}

.site__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.site__slider {
    width: 968px;
}

.slider{
    width: 100%;
    height: 460px;
}

.slider__block{
    width: 100%;
    height: 460px;
    display: none;

}

.slider__wrapper {
    width: 100%;
    height: 460px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slider__images {
    width: 460PX;
    height: 460px;
}

.slider__info {
    width: 460PX;
    height: 460px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.info__title {
    color: white;
    font-size: 56px;
    font-weight: 900;
    line-height: 109%;
    margin-bottom: 32px;
}

.info__description {
    color: white;
    font-size: 20px;
    line-height: 109%;
    margin-bottom: 32px;
    opacity: .75;
}

.site_menu{
 height: 72px;
 width: 968px;
 display: flex;
 flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;   
}
.menu__logo {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
font-size: 32px;
font-weight: 800;
color: white;
}
.menu__link {
    margin-left: 24px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.menu__link :hover{
    text-decoration: underline;
}
.menu__list{
    display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
}
.site_content {
    height: 100%;
    width: 968px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}
.site_logo{
    color: white;
    text-decoration: none;
    font-size: 32px;
    display: flex;
    justify-content: center;
    padding-top: 70px; 
}
.button{
    background-color: palevioletred;
    border-radius: 6px;
    font-size: 24px;
    color: white;
    width: 150px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 550px;
    height: 420px;
}
.image_1{
    position: absolute;
}
.image_2{
    position: absolute;
}
.image_3{
    position: absolute;
}
.image_4{
    position: absolute;
}
.image_5{
    position: absolute;
}
.image_6{
    position: absolute;
}